
<div class="<col-sm-4 text-center>">
    {% csrf_token %}


{% if 1 == num %}
<h4>liste des cours </h4>
  <h4>{{user.username}}</h4>
      {% for nom in cour %}
        <a href="{% url 'questionnaire' cours_id=nom.id %}">
          <h2>{{ nom.name_cour }}</h2>

          </a>
{% endfor %}
{% else %}

<h4>note des élève</h4>

<table>
   <caption>note des eleves</caption>

   <tr>
       <th>Nom</th>
       <th>note</th>
       <th>sur</th>
{% for sc in score %}
   </tr>
   <tr>
       <td>{{ sc.s_elevs }}</td>
       <td>{{ sc.score_champ }}</td>
       <td>10</td>
   </tr>



{% endfor %}
</table>
{% endif %}
</div>
