

<form>


  <fieldset>
    <legend>question 1</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest1"></textarea></p>
    <br>
        <input type="radio" name="quest_1" value="rep_1" checked> <input type="text" size="150" name="rep1"><br>
        <input type="radio" name="quest_1" value="rep_2"> <input type="text" size="150" name="rep2"><br>
        <input type="radio" name="quest_1" value="rep_3"> <input type="text" size="150" name="rep3"><br>
        <input type="radio" name="quest_1" value="rep_4"> <input type="text" size="150" name="rep4"><br>
        <br>
  </fieldset>

  <fieldset>
    <legend> question 2</legend>
    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest2"></textarea></p>
    <br>
        <input type="radio" name="quest_2" value="rep_1" checked> <input type="text" size="150" name="rep1"><br>
        <input type="radio" name="quest_2" value="rep_2"> <input type="text" size="150" name="rep2"><br>
        <input type="radio" name="quest_2" value="rep_3"> <input type="text" size="150" name="rep3"><br>
        <input type="radio" name="quest_2" value="rep_4"> <input type="text" size="150" name="rep4"><br>
    <br>
    </fieldset>

    <fieldset>
    <legend> question 3</legend>
    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest3"></textarea></p>
    <br>
        <input type="radio" name="quest_3" value="male" checked> <input type="text" size="150" name="rep2"><br>
        <input type="radio" name="quest_3" value="female"> <input type="text" size="150" name="rep2"><br>
        <input type="radio" name="quest_3" value="other"> <input type="text" size="150" name="rep3"><br>
        <input type="radio" name="quest_3" value="o"> <input type="text" size="150" name="rep4"><br>
        <br>
    </fieldset>

    <fieldset>

    <legend> question 4</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest4"></textarea></p>
    <br>
        <input type="radio" name="quest_4" value="rep_1" checked> <input type="text" size="150" name="rep1"><br>
        <input type="radio" name="quest_4" value="rep_2"> <input type="text" size="150" name="rep2"><br>
        <input type="radio" name="quest_4" value="rep_3"> <input type="text" size="150" name="rep3"><br>
        <input type="radio" name="quest_4" value="rep_4"> <input type="text" size="150" name="rep4"><br>
    <br>
    </fieldset>

    <fieldset>
    <legend> question 5</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest5"></textarea></p>
    <br>
        <input type="radio" name="quest_5" value="rep_1" checked> <input type="text" size="150" name="rep1"><br>
        <input type="radio" name="quest_5" value="rep_2"> <input type="text" size="150" name="rep2"><br>
        <input type="radio" name="quest_5" value="rep_3"> <input type="text" size="150" name="rep3"><br>
        <input type="radio" name="quest_5" value="rep_4"> <input type="text" size="150" name="rep4"><br>
    <br>
    </fieldset>

    <fieldset>

    <legend> question 6</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest6"></textarea></p>
    <br>
        <input type="radio" name="quest_6" value="rep_1" checked> <input type="text" size="150" name="rep1"><br>
        <input type="radio" name="quest_6" value="rep_2"> <input type="text" size="150" name="rep2"><br>
        <input type="radio" name="quest_6" value="rep_3"> <input type="text" size="150" name="rep3"><br>
        <input type="radio" name="quest_6" value="rep_4"> <input type="text" size="150" name="rep4"><br>
    <br>
    </fieldset>

    <fieldset>
    <legend> question 7</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest7"></textarea></p>
    <br>
        <input type="radio" name="quest_7" value="rep_1" checked> <input type="text" size="150" name="rep1"><br>
        <input type="radio" name="quest_7" value="rep_2"> <input type="text" size="150" name="rep2"><br>
        <input type="radio" name="quest_7" value="rep_3"> <input type="text" size="150" name="rep3"><br>
        <input type="radio" name="quest_7" value="rep_4"> <input type="text" size="150" name="rep4"><br>
    <br>
    </fieldset>

    <fieldset>
    <legend> question 8</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest8"></textarea></p>
    <br>
        <input type="radio" name="quest_8" value="rep_1" checked> <input type="text" size="150" name="rep1"><br>
        <input type="radio" name="quest_8" value="rep_2"> <input type="text" size="150" name="rep2"><br>
        <input type="radio" name="quest_8" value="rep_3"> <input type="text" size="150" name="rep3"><br>
        <input type="radio" name="quest_8" value="rep_4"> <input type="text" size="150" name="rep4"><br>
    <br>
    </fieldset>

    <fieldset>

    <legend> question 9</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest9"></textarea></p>
    <br>
        <input type="radio" name="quest_9" value="rep_1" checked> <input type="text" size="150" name="rep1"><br>
        <input type="radio" name="quest_9" value="rep_2"> <input type="text" size="150" name="rep2"><br>
        <input type="radio" name="quest_9" value="rep_3"> <input type="text" size="150" name="rep3"><br>
        <input type="radio" name="quest_9" value="rep_4"> <input type="text" size="150" name="rep4"><br>
    <br>
    </fieldset>

    <fieldset>

    <legend> question 10</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest10"></textarea></p>
    <br>
        <input type="radio" name="quest_10" value="rep_1" checked> <input type="text" size="150" name="rep1"><br>
        <input type="radio" name="quest_10" value="rep_2"> <input type="text" size="150" name="rep2"><br>
        <input type="radio" name="quest_10" value="rep_3"> <input type="text" size="150" name="rep3"><br>
        <input type="radio" name="quest_10" value="rep_4"> <input type="text" size="150" name="rep4"><br>

    </fieldset>

    <br>
    <input type="submit" value="vadidé votre questionnaires">
</form>
