
<form action="{% url 'sub_questionnaire' %}" method="post">
  {% csrf_token %}

  <h4>bienvenue {{user.username}} crée votre formulaire ici</h4>
  <h5>nom de la classe</h5>
  <SELECT name="classe" size="1">
    {%for u in classe%}

  <OPTION>{{u.classe.name_classe}}
{% endfor %}
  </SELECT>
  <br>
  <br>
  <h5>nom du cours</h5>
  <SELECT name="cours" size="1">
    {%for u in cour%}

  <OPTION>{{u.name_cour}}
{% endfor %}

  </SELECT>
  <br>

  <h5>nom du questionnaire</h5>
  <input type="text" size="40" name="nom_questionnaire"><br>


  <fieldset>

    <legend>question 1</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest1"></textarea></p>
    <br>
        <input type="radio" name="quest_1" value="1" checked> <input type="text" size="140" name="rep1_quest_1"><br>
        <input type="radio" name="quest_1" value="2"> <input type="text" size="140" name="rep2_quest1"><br>
        <input type="radio" name="quest_1" value="3"> <input type="text" size="140" name="rep3_quest1"><br>
        <input type="radio" name="quest_1" value="4"> <input type="text" size="140" name="rep4_quest1"><br>
        <br>
  </fieldset>

  <fieldset>
    <legend> question 2</legend>
    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest2"></textarea></p>
    <br>
        <input type="radio" name="quest_2" value="1" checked> <input type="text" size="140" name="rep1_quest2"><br>
        <input type="radio" name="quest_2" value="2"> <input type="text" size="140" name="rep2_quest2"><br>
        <input type="radio" name="quest_2" value="3"> <input type="text" size="140" name="rep3_quest2"><br>
        <input type="radio" name="quest_2" value="4"> <input type="text" size="140" name="rep4_quest2"><br>
    <br>
    </fieldset>

    <fieldset>
    <legend> question 3</legend>
    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest3"></textarea></p>
    <br>
        <input type="radio" name="quest_3" value="1" checked> <input type="text" size="140" name="rep1_quest3"><br>
        <input type="radio" name="quest_3" value="2"> <input type="text" size="140" name="rep2_quest3"><br>
        <input type="radio" name="quest_3" value="3"> <input type="text" size="140" name="rep3_quest3"><br>
        <input type="radio" name="quest_3" value="4"> <input type="text" size="140" name="rep4_quest3"><br>
        <br>
    </fieldset>

    <fieldset>

    <legend> question 4</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest4"></textarea></p>
    <br>
        <input type="radio" name="quest_4" value="1" checked> <input type="text" size="140" name="rep1_quest4"><br>
        <input type="radio" name="quest_4" value="2"> <input type="text" size="140" name="rep2_quest4"><br>
        <input type="radio" name="quest_4" value="3"> <input type="text" size="140" name="rep3_quest4"><br>
        <input type="radio" name="quest_4" value="4"> <input type="text" size="140" name="rep4_quest4"><br>
    <br>
    </fieldset>

    <fieldset>
    <legend> question 5</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest5"></textarea></p>
    <br>
        <input type="radio" name="quest_5" value="1" checked> <input type="text" size="140" name="rep1_quest5"><br>
        <input type="radio" name="quest_5" value="2"> <input type="text" size="140" name="rep2_quest5"><br>
        <input type="radio" name="quest_5" value="3"> <input type="text" size="140" name="rep3_quest5"><br>
        <input type="radio" name="quest_5" value="4"> <input type="text" size="140" name="rep4_quest5"><br>
    <br>
    </fieldset>

    <fieldset>

    <legend> question 6</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest6"></textarea></p>
    <br>
        <input type="radio" name="quest_6" value="1" checked> <input type="text" size="140" name="rep1_quest6"><br>
        <input type="radio" name="quest_6" value="2"> <input type="text" size="140" name="rep2_quest6"><br>
        <input type="radio" name="quest_6" value="3"> <input type="text" size="140" name="rep3_quest6"><br>
        <input type="radio" name="quest_6" value="4"> <input type="text" size="140" name="rep4_quest6"><br>
    <br>
    </fieldset>


    <fieldset>
    <legend> question 7</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest7"></textarea></p>
    <br>
        <input type="radio" name="quest_7" value="1" checked> <input type="text" size="140" name="rep1_quest7"><br>
        <input type="radio" name="quest_7" value="2"> <input type="text" size="140" name="rep2_quest7"><br>
        <input type="radio" name="quest_7" value="3"> <input type="text" size="140" name="rep3_quest7"><br>
        <input type="radio" name="quest_7" value="4"> <input type="text" size="140" name="rep4_quest7"><br>
    <br>
    </fieldset>

    <fieldset>
    <legend> question 8</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest8"></textarea></p>
    <br>
        <input type="radio" name="quest_8" value="1" checked> <input type="text" size="140" name="rep1_quest8"><br>
        <input type="radio" name="quest_8" value="2"> <input type="text" size="140" name="rep2_quest8"><br>
        <input type="radio" name="quest_8" value="3"> <input type="text" size="140" name="rep3_quest8"><br>
        <input type="radio" name="quest_8" value="4"> <input type="text" size="140" name="rep4_quest8"><br>
    <br>
    </fieldset>

    <fieldset>

    <legend> question 9</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest9"></textarea></p>
    <br>
        <input type="radio" name="quest_9" value="1" checked> <input type="text" size="140" name="rep1_quest9"><br>
        <input type="radio" name="quest_9" value="2"> <input type="text" size="140" name="rep2_quest9"><br>
        <input type="radio" name="quest_9" value="3"> <input type="text" size="140" name="rep3_quest9"><br>
        <input type="radio" name="quest_9" value="4"> <input type="text" size="140" name="rep4_quest9"><br>
    <br>
    </fieldset>

    <fieldset>

    <legend> question 10</legend>

    <p><label for="id_message"></label> <textarea id="id_message" rows="2" cols="100" name="quest10"></textarea></p>
    <br>
        <input type="radio" name="quest_10" value="1" checked> <input type="text" size="140" name="rep1_quest10"><br>
        <input type="radio" name="quest_10" value="2"> <input type="text" size="140" name="rep2_quest10"><br>
        <input type="radio" name="quest_10" value="3"> <input type="text" size="140" name="rep3_quest10"><br>
        <input type="radio" name="quest_10" value="4"> <input type="text" size="140" name="rep4_quest10"><br>

    </fieldset>

    <br>
    <input type="submit" value="vadidé votre questionnaires">
</form>
