
<div class="<col-sm-4 text-center>">

  {% csrf_token %}
      {% if 2 == num %}
        <h4>bienvenue voici vos classes</h4>
        {% for groupe in group %}

            <a href="{% url 'detail' groupe=groupe.classe.id nume=num users_id=user %}">
                      <h5>{{ groupe.classe.id}}</h5>
            </a>
            {% endfor %}
            <a href="{% url 'formulaire' %}">
                      <h5> crée un questionnaire </h5>
            </a>



      {% else %}
      <h4>bienvenue voici votre classes</h4>
    <a href="{% url 'detail' groupe=groupe nume=num users_id=user %}">
        <h3>{{ classe }}</h3>
    </a>

{% endif %}
</div>
