

<h4>bienvenue {{user.username}}</h4>

<div class="<col-sm-4 text-center>">

  {% csrf_token %}

        {% if 2 == num %}
                {% for groupe in cl %}

                          <a href="{% url 'detail' groupe=class nume=num users_id=user %}">
                                    <h5>{{ groupe.classe }}</h5>
                          </a>

                {% endfor %}
      {% else %}

    <a href="{% url 'detail' groupe=groupe nume=num users_id=user %}">
        <h3>{{ classe }}</h3>
    </a>

{% endif %}
</div>
