

  <div class="<col-sm-4 text-center>">
    <h3>{{ questions.nom_du_cours }}</h3>
    {% for questions in quess %}
    <form action="{% url 'submit' questions.id %}" method="post">
      {% csrf_token %}
  <h4>bienvenue {{user.username}}</h4>


        <h3></h3>
        <h4>{{ questions.quest }}</h4>

        <div>
          <input type="radio" id="{{questions.id}}-1" name="{{questions.id}}" value="1">
          <label for="{{questions.id}}-1"><h6>{{ questions.rep_1 }}</h6></label>
        </div>

        <div>
          <input type="radio" id="{{questions.id}}-2" name="{{questions.id}}" value="2">
          <label for="{{questions.id}}-2"><h6>{{ questions.rep_2 }}</h6></label>
        </div>
        <div>

          <input type="radio" id="{{questions.id}}-3" name="{{questions.id}}"value="3">
          <label for="{{questions.id}}-3"><h6>{{ questions.rep_3 }}</h6></label>
        </div>

        <div>
          <input type="radio" id="{{questions.id}}-4" name="{{questions.id}}" value="4">
          <label for="{{questions.id}}-4"><h6>{{ questions.rep_4 }}</h6></label>
        </div>

      {% endfor %}
      <input type="submit" value="Vote">


  </div>
</form>
